$shadow: 0 .1rem .3rem black;
$gap: 1rem;
$text-color: hsl(0 0 20%);

body {
  background-color: #888;
  margin: 0;
  padding: $gap;
  max-height: 100vh;
  font-size: 16px;
  font-family: Cordana, sans-serif;
  color: $text-color;
  position: relative;

  &::before {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6rem;
    background-image: linear-gradient(180deg, hsl(0 0 20% / 70%), transparent);
    content: "";
  }
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

input, select, button {
  background-color: transparent;
  border: none;
  border-bottom: thin solid $text-color;
  cursor: pointer;
  height: 2em;
  font-weight: 600;
  color: $text-color;

  &[name="entry-type"] {
    border-bottom-color: transparent;

    &:hover {
      border-bottom-color: $text-color;
    }
  }

  &[name="game-title"]::placeholder {
    content: "Spieltitel";
  }
}

.card {
  padding: $gap;
  background: hsl(0 0 70%);
  box-shadow: $shadow;
  border-radius: $gap;
}

.header-cards {
  position: sticky;
  top: $gap;
  margin-bottom: $gap;
}

.planned-entries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: $gap;
  padding-bottom: $gap;
}

.entry {
  display: grid;
  grid-gap: .5em;
}

.quick-actions {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: $gap;
  align-items: flex-end;
  bottom: $gap * .5;
  right: $gap * 1.5;

  li {
    display: flex;
    align-items: center;
    gap: $gap * .5;
  }

  label,
  input[type="button"],
  button {
    background-color: hsl(0 0 80%);
  }

  label {
    padding: .5rem;
    border-radius: .5em;
    box-shadow: $shadow;
    font-size: 90%;
    text-transform: uppercase;
    font-weight: 600;
    transition: width .2s;
  }

  button {
    display: block;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    font-size: 120%;
    height: 3rem;
    box-shadow: $shadow;
  }
}